services:
  postgres:
    image: postgres:15-alpine
    container_name: n8n_postgres
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U n8n"]
      interval: 10s
      timeout: 5s
      retries: 5

  n8n:
    build: ./docker
    image: n8nio/n8n:custom-local
    container_name: n8n_server
    ports:
      - "5678:5678"
    env_file:
      - .env
    # ensure workflows are available in container and entrypoint will run imports
    volumes:
      - n8n_data:/home/node/.n8n
      - ./workflows:/home/node/.n8n/workflows
    
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

volumes:
  postgres_data:
  n8n_data:
